<div layout-gt-md="row">
  <panel-widget flex title="Treasury" template="app/views/partials/visitors.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Commercial Lending" template="app/views/partials/visitors.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Transmissions" template="app/views/partials/visitors.html" class="fixed-height-widget"></panel-widget>
  <!--<panel-widget flex title="Warnings" template="app/views/partials/warnings.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Memory load" template="app/views/partials/memory.html" class="fixed-height-widget"></panel-widget>-->
</div>

<div layout-gt-md="row">
  <panel-widget flex title="Reports" template="app/views/partials/performance.html" options="true"></panel-widget>
  <!--<panel-widget flex title="Usage Stats" template="app/views/partials/usage.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Autocomplete Input" template="app/views/partials/autocomplete.html" options="true" class="fixed-height-widget"></panel-widget>-->
</div>

<div layout-gt-md="row">
  <panel-widget flex title="Environment" template="app/views/partials/controlPanel.html" class="fixed-height-widget"></panel-widget>
  
  <panel-widget flex title="Alerts" template="app/views/partials/checkboxes.html"></panel-widget>
</div>
